<% if notice %>
<p id="notice"><%= notice %></p> 
<% end %>

<h2>Select the field of evaluations</h2>


<h4><%= link_to 'Course Evaluation', new_course_path %></h4>
<h4><%= link_to 'Employee Evaluation', new_employee_path %></h4>
<h7>----------------------------------------------------------------------</h7>
<h5><%= link_to 'Create your own evalutaion templetes', new_templete_path %></h5>







<p>Location: app/views/evaluation/index.html.erb</p>
